body{
    background-color: gray;
}
.milieu{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;

}
header{
    background-color: yellow;
    text-align: center;
    margin: 5px;
    padding: 5px;
}
nav{
    background-color: cyan;
    text-align: center;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
article{
    background-color: lightgray;
    padding: 5px;
    width: 85%;
}
#divers{
    background-color: cyan;
    text-align: center;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: yellow;
    text-align: center;
    margin: 5px;
    padding: 5px;

}
